displayName: MaxMind GeoIP with Coordinates

summary: 'Getting data from MaxMind GeoIP databases and pass it downstream via HTTP request headers.'

type: middleware

import: github.com/Maronato/traefik_geoip

testData:
  dbPath: 'GeoLite2-Country.mmdb'
  debug: false
  excludeIPs:
    - "192.168.0.0/16"
    - "172.16.0.0/12"
    - "10.0.0.0/8"
    - "127.0.0.1/8"
  setRealIP: true
  cacheSize: 1000
